/* For some browsers? */
* {
    box-sizing: border-box;     
}

/* Style all elements <main> */
main {
    max-width: 1200px;
    margin: 30px auto;      /* 30px margin top and bottom, auto margin left and right */
    padding: 0 20px;        /* 0px padding top and bot, 20px padding left and right */
    width: 100%;
    
    display: grid;          /* Enable CSS Grid */
    grid-auto-rows: 100px;  /* Define auto row size */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));   /* Define column constraints */
    grid-gap: 1em;          /* Gap between elements in grid */
}

/* Style all elements <article> */
article {
    border-radius: 10px;    /* Round the edges of <article> by 10px radius */ 
    padding: 20px;
    color: #ffffff;         /* Text color */
}

/* Style every odd element <article> */
article:nth-child(odd) {
    background-color: #55bbe9;  /* Background color */
}

/* Style every even element <article> */
article:nth-child(even) {
    background-color: #afbe29;
}
