/* For some browsers? */
* {
    box-sizing: border-box;     
}

/* High Level Styling */
main {
    max-width: 1200px;
    height  : 100%;
    width   : 100%;
    display: grid;          /* Enable CSS Grid */
    grid-template-columns:  4vw 4vw 25.5vw 7vw 8vw 8vw 7vw 25vw 2.5vw 2.5vw 2.5vw;
    grid-template-rows:     6vh 20vh 11vh 7vh 6vh 40vh 5vh;  /* Define auto row size */
    grid-gap: 5px;
}

body {
    height : 100%;
    width   : 100%;
    margin : 0;
    font-family         : "Roboto";
    font-size           : 11px;
}

input {
    border-top-style    : hidden;
    border-right-style    : hidden;
    border-bottom-style    : hidden;
    border-left-style    : hidden;
    border: none;
    outline: none;
    outline-width : 0;
    width:  500px;
}

/* These are wrappers, and so their display should defer to contents */
#header_box, #body_box{
    display             : contents;      /* Displays contents instead of GridBox */
}

/* Children of wrappers */
#header_box > *, #body_box > * {
    display             : flex;
    height              : 100%;
    width               : 100%;
    align-items         : center;       /* Horizontal alignment */
    justify-content     : center;       /* Vertical alignment */
    min-width           : 30px;
}

/* Each box */
#body_box {
    padding             : 150px 525px 315px 525px;

    grid-column-start   : 4;
    grid-column-end     : 8;
    grid-row-start      : 3;
    grid-row-end        : 6;
}


/* Each element */
#gmail {
    grid-column-start   : 9;
}

#grid {
    background-image    : url("imgs/grid.jpg");
    display             : flex;
    height              : 100%;
    align-items         : center;
    justify-content     : center;       /* Vertical alignment */

}

#google {
    grid-column-start   : 4;
    grid-column-end     : 8;
    grid-row-start      : 3;
    grid-row-end        : 4;
    background-image    : url("imgs/google_logo.jpg");
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : 43%;
}

#search_bar {
    grid-column-start   : 4;
    grid-column-end     : 8;
    grid-row-start      : 4;
    grid-row-end        : 5;

    display             : flex;
    height              : 60%;
    width               : 90%;
    align-items         : center;

    background-image    : url("imgs/search_bar.jpg");
    background-repeat   : no-repeat;
    background-position : -15px -21px;
    background-color    : rgb(210, 210, 210);

    border-width        : 1px;
    border-style        : solid;
    border-radius       : 25px;
    border-color        : rgb(210, 210, 210);
    margin              : 10px 25px 10px 25px;
    padding             : 10px 10px 10px 30px;
}

#search {
    grid-column-start   : 5;
    grid-column-end     : 6;
    grid-row-start      : 5;
    grid-row-end        : 6;

    background-color    : rgb(250, 250, 250);
}

#lucky {
    grid-column-start   : 6;
    grid-column-end     : 7;
    grid-row-start      : 5;
    grid-row-end        : 6;

    background-color    : rgb(250, 250, 250);
}

#footer {
    grid-column-start   : 1;
    grid-column-end     : 12;
    grid-row-start      : 7;
    grid-row-end        : 8;

    display             : flex;
    height              : 100%;
    width               : 100%;
    align-items         : center;
    justify-content     : center;       /* Vertical alignment */

    font-family         : "Product Sans";
    font-size           : 11px;
    color               : rgb(100, 100, 100);

}

/* Links */
/* Unvisited Link */
a:link {
    color               : black;
    text-decoration     : none;
}

a:visited {
    color               : purple;
}

a:hover {
    text-decoration     : underline;
}
































