/* Reminder: .<className> for CSS */
.navigation {
    display: flex;             /* Use Flexbox */
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;          /* No bullet points */
    margin: 0;                 /* Margin between elements */
    background: deepskyblue;   /* Background color */

}

/* Navigation class, for 'a' elements */
.navigation a {
    text-decoration: none;
    display: block;            /* Block display */
    padding: 1em;              /* Spacing between elements? */
    color: white;
}

/* Navigation class, 'a' elements, action 'hover' */
.navigation a:hover {
    background: #1565c0;       /* Block background color, upon hover */
}

/* Media Query - applied if conditions are met */
@media all and (max-width: 800px) {
    .navigation {
        flex-flow: column wrap;     /* If window width < 800px, wrap as column */
        padding: 0;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;     /* If window width < 800px, wrap as column */
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3); /* Illusion of depth - white + black border */
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
